[Unit]
Description=consul agent
Requires=vagrant.mount
After=vagrant.mount

[Service]
Restart=on-failure
ExecStart=/usr/bin/consul agent -config-dir /etc/consul.d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target